@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.root {
    display: flex;
    margin-left: 256px;
    margin-top: 10px;
    height: 100vh;
    overflow: hidden;
}

.replyListPane, .viewReplyPane {
  margin: 10px;
  overflow:scroll;
  padding-bottom: 80px;
}

.replyListPane {
  width: 40%;
}

.viewReplyPane {
  flex: 1;
}

.header {
    composes: row between-xs middle-xs from 's/vendor/flexboxgrid.css';
    margin-left: 0;
    margin-right: 0;
    padding-right: 6px;
}

.form {
    composes: row col-xs from 's/vendor/flexboxgrid.css';
    margin-left: 0;
    margin-right: 0;
    padding: 0px 16px;
}
