@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// .header {
//     composes: row between-xs middle-xs from 's/vendor/flexboxgrid.css';
//     height: 75px;
// }

.form {
    composes: row col-xs from 's/vendor/flexboxgrid.css';
}

.field {
    composes: col-xs-12 from 's/vendor/flexboxgrid.css';
}


// --------------------------------

.root {
    display: flex;
    margin-left: 256px;
    margin-top: 10px;
    height: 100vh;
    overflow: hidden;
}

.listPane, .detailPane {
  margin: 10px;
  overflow:scroll;
  padding-bottom: 80px;
}

.listPane {
  width: 40%;
}

.detailPane {
  flex: 1;
}

.header {
    composes: row between-xs middle-xs from 's/vendor/flexboxgrid.css';
    margin-left: 0;
    margin-right: 0;
    padding-right: 6px;
}

.content {
    composes: content from 's/layout.scss';
}

.detailContent {
  padding: 0px 16px;
}

.body {
    font-size: 1.6rem;
    margin-bottom: 60px;
}
