.root {
    composes: row from 's/vendor/flexboxgrid.css';
    overflow-x: hidden;
    height: 100vh;
}

.main {
    background: #FFF;
    // 60px for left nav width + 40px
    padding: 0 40px 0 100px;
    padding-left: 100px;
    height: 100%;
    width: 100%;
}
