.landing {
  @import './lib/bootstrap';
  @import './lib/landingTheme';

  h4 img {
    margin-bottom: 3px;
    margin-right: 5px;
  }

  .margin-centered {
    margin: 0 auto;
  }

  .demo-img {
    margin-top: 40px;
    max-width: 800px;
    object-fit: scale-down;
    width: 100%;
  }

  .navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
  }

  .navbar-right {
    float: right!important;
  }
}

.landing {
  background-color: #E1E1EB;
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}
