@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.root {
    height: 100%;
}

.contentContainer {
    overflow-x: scroll;
}

.content {
    composes: row from 's/vendor/flexboxgrid.css';
    margin: 0px 15px;
    height: 100%;
    min-width: 1000px;
}

.replyList {
    composes: col-xs-4 from 's/vendor/flexboxgrid.css';
}

.reply {
    composes: col-xs from 's/vendor/flexboxgrid.css';
    padding-left: 10px;
}

.navPaddingTop {
  padding-top: 2px;
}
