.root {
    background-color: #484959;
    height: 100vh;
}

.container {
    composes: container from '../../styles/layout.scss';
}

.title {
    color: white;
    font-weight: 400;
    font-size: 4rem;
}

.content {
    composes: row center-xs from '../../styles/vendor/flexboxgrid.css';
    padding-top: 200px;
}

.header {
    composes: row from '../../styles/vendor/flexboxgrid.css';
    padding-top: 15px;
}

.brand {
    composes: brand from '../../styles/typography.scss';
}

.brandContainer {
    composes: col-xs-6 from '../../styles/vendor/flexboxgrid.css';
}

.loginContainer {
    composes: col-xs-12 from '../../styles/vendor/flexboxgrid.css';
}
