@import '../../styles/variables.scss';

.mdl-mini-footer {
    font-size: 1.4em;
    padding: 30px 16px !important;
    background-color: $black-light !important;
    justify-content: center !important;

    a {
        color: $white;
        text-decoration: none;
    }
}

