.root {
    height: calc(100vh - 10px); //less the top padding height
}

.header {
    composes: row between-xs middle-xs from 's/vendor/flexboxgrid.css';
    margin-left: 0;
    margin-right: 0;
    padding-right: 6px;
    height: 48px;
}

.content {
  height: calc(100% - 48px); //less the header height
  overflow: scroll;
}

.form {
    composes: row col-xs from 's/vendor/flexboxgrid.css';
    margin-left: 0;
    margin-right: 0;
    padding: 0px 16px;
}
