.root {
    height: 100%;
    overflow: scroll;
}
.header {
    composes: row between-xs middle-xs from 's/vendor/flexboxgrid.css';
    margin-left: 0;
    margin-right: 0;
    padding-right: 6px;
    height: 55px;
}

.form {
    composes: row col-xs from 's/vendor/flexboxgrid.css';
    margin-left: 0;
    margin-right: 0;
    padding: 0px 16px;
}
