.content {
    padding: 30px;
}

.results {
    padding-top: 30px;
}

.summary {
    font-size: 1.6rem;
    line-height: 2.5rem;
    padding-bottom: 25px;
}

.tier {
    padding: 16px 0px;
}

.tierTitle {
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: 600;
}

.tierSummary {
    font-size: 1.6rem;
    line-height: 2.5rem;
}
