.bot-settings-section {
  .section-body {
    font-size: 1.6rem;
    margin-bottom: 60px;
  }

  .expertise-text {
    margin: 0 10px;
  }

  .hint-text {
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);
  }
}
