.root {
    composes: col-xs from '../../styles/vendor/flexboxgrid.css';
    composes: content from '../../styles/layout.scss';
}

.body {
    font-size: 1.6rem;
    margin-bottom: 60px;
}

.titleContainer {
    composes: row between-xs middle-xs from '../../styles/vendor/flexboxgrid.css';
    margin: 0;
}
