.root {
    composes: row middle-xs center-xs from 's/vendor/flexboxgrid.css';
    padding: 32px 0;
}

.root :global {
    h3 {
        color: #222222;
        font-weight: 500;
        font-size: 2rem;
        margin: 20px 0;
    }
}

.row {
    composes: col-xs-12 from 's/vendor/flexboxgrid.css';
}
