@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.text {
    composes: text from 's/typography.scss';
}


.root :global {

    table td,
    table th {
        vertical-align: middle;
    }

    table td {
        line-height: 18px;
        padding: 10px 24px;
        white-space: wrap;
    }

    table th {
        color: #A2A2A9;
        font-weight: 600;
        letter-spacing: 0.5px;
        text-transform: uppercase;
    }
}

.content {
    composes: content from 's/layout.scss';
}

.title {
    composes: row between-xs middle-xs from 's/vendor/flexboxgrid.css';
    margin: 0;
}
