@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.root :global {
    h1 {
        color: rgba(0,0,0,0.87);
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 1px;
    }

    p {
        color: rgba(0, 0, 0, 0.6);
        font-size: 1.6rem;
        line-height: 20px;
        padding: 10px 0;
    }

    table td,
    table th {
        vertical-align: middle;
    }

    table td {
        line-height: 18px;
        padding: 10px 24px;
        white-space: wrap;
    }

    table th {
        color: #A2A2A9;
        font-weight: 600;
        letter-spacing: 0.5px;
        text-transform: uppercase;
    }
}

.content {
    composes: content from '../../styles/layout.scss';
}

.title {
    composes: row between-xs middle-xs from '../../styles/vendor/flexboxgrid.css';
    margin: 0;
}

.materialIcons {
    font-size: 22px !important;
}

.titleDivider {
    composes: titleDivider from '../../styles/layout.scss';
}
