@import '../../styles/global.scss';
@import '../../../node_modules/react-mdl/extra/css/material.cyan-red.min.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.content-body {
    background: #FFF;
    padding: 30px 40px;
    margin: 0;
}

.content-container {
    height: 100vh;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}
